extends ../layouts/_index.jade

mixin block(number, href, title, subtitle, tags)
    a(href=href, target='_blank', title=title, class='block--#{number}').block.flex-container
        h2=title
        h3=subtitle
        ul
            each tag in tags
                li 
                    | #
                    =tag

block body
    #container__somecode.container__somecode
        header.full.flex-container
            h1#js-somecode-title.half Some <span>Code</span>
        .grid
            +block(1, 'https://github.com/schmidtsonian/Games/', 'Falling Skyes', 'Cross mobile game excercice', ['CoronaSDK', 'GitHub'])

            +block(2, 'http://codepen.io/schmidtsonian/pen/GodGNj', 'Chipmunk CSS', 'Drawing with pure CSS excercice', ['CSS', 'Codepen'])

            +block(3, 'https://github.com/schmidtsonian/estebanco', 'estebanco.com source code', 'Personal page experiment', ['SCSS', 'Jade', 'Typescript', 'GitHub'])

            +block(4, 'https://github.com/schmidtsonian/elixir', 'Elixir Journal', 'Functional programming paradigm', ['Elixir', 'Vagrant', 'GitHub'] )
            
            +block(5, 'https://github.com/schmidtsonian/portfolio-free-wordpress-theme', 'Free wordpress theme "Portfolio"', 'Hijax theme for wordpress', ['HiJax', 'SCSS', 'Wordpress', 'GitHub'])

            +block(6, 'https://github.com/schmidtsonian/landing-page', 'Landing Page', 'Free Source code for a Landing Page', ['CodeKit', 'SCSS', 'Jade', 'Typescript', 'GitHub'] )

            +block(7, 'https://github.com/schmidtsonian/walk-alone', 'Walk Alone', 'Game experiment HTML', ['Typescript', 'SCSS', 'Jade', 'GitHub'])

            +block(8, 'http://codepen.io/schmidtsonian/pen/VadmYP', 'Loader', 'Loader experiment vanilla JS', ['Javascript', 'Codepen'])

            +block(9, 'http://codepen.io/schmidtsonian/pen/VadmYP', 'Loader', 'Loader experiment vanilla JS', ['Javascript', 'Codepen'])

            +block(10, 'http://codepen.io/schmidtsonian/pen/pbvEZg', 'The fourth seasons', 'Low poly tree CSS experiment', ['CSS', 'Codepen'])