doctype html
html(lang="en")
    head
        title=Title

        meta(name="description" content=Description)
        meta(name="keywords", content=Keywords)

        link(rel="icon", type="/image/#{FaviconType}", href=Favicon)
        link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Quattrocento:400,700|Oswald")
        link(rel="stylesheet", type="text/css", href="/css/main.css")

    body
        #container.main-container.full
            block body
        include _menu
        script(src="/js/vendor.js")
        script(src="/js/main.js")